<div class="container">
    <h1>Détails de la tâche : <%= task.description %></h1>
    <!-- Formulaire pour ajouter une sous-tâche -->
    <form hx-post="/tasks/add/subtask/<%= index %>" hx-target="#subtasks" hx-swap="innerHTML">
        <input type="text" name="subtask" placeholder="Nouvelle sous-tâche..." required>
        <button type="submit">Ajouter</button>
    </form>
    <div id="subtasks">
        <%- include('../subtasks/subtask_list', { subTasks: task.subtasks, index, lists }); %>
    </div>
</div>