<div class="container">
    <h1>Sous-t창ches de la t창che : <%= task.description %></h1>
    <!-- Formulaire pour ajouter une sous-t창che -->
    <form hx-post="/tasks/subtasks/add/<%= index %>" hx-target="#subtasks" hx-swap="innerHTML">
        <input type="text" name="subtask" placeholder="Nouvelle sous-t창che..." required>
        <button type="submit">Ajouter</button>
    </form>
    <div id="subtasks">
        <%- include('../subtasks/subtask_list', { subTasks: task.subtasks, index, lists }); %>
    </div>
</div>