<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails de la tâche</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>
    <div class="container">
        <h1>Détails de la tâche <%= task.description %></h1>
        <!-- Formulaire pour ajouter une sous-tâche -->
        <form hx-post="/subtasks/add-subtask/<%= index %>" hx-target="#task-list" hx-swap="outerHTML">
            <input type="text" name="task" placeholder="Nouvelle sous-tâche..." required>
            <button type="submit">Ajouter</button>
        </form>
        <!-- Conteneur pour la liste des sous-tâches -->
        <div id="task-list">
            <%- include('./subtask_list', { subTasks: subTasks, index: index }) %>
        </div>
    </div>
</body>
</html>