<!-- edit_task_form.ejs -->
<tr>
    <td></td>
    <td>
        <form action="/edit-task/<%= index %>?_method=PATCH" method="post" hx-patch="/edit-task/<%= index %>" hx-target="#task-list" hx-swap="innerHTML">
            <input type="text" name="description" value="<%= task.description %>" required>
            <button type="submit">Enregistrer</button>
            <button type="button" hx-get="/" hx-target="#task-list" hx-swap="innerHTML">Annuler</button>
        </form>
    </td>
</tr>
