<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DunDeal</title>
    <link rel="icon" href="../checklist.png">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>
    <nav class="menu" id="menu">
        <!-- 
        <div class="logo">
            <img src="logo.png" alt="Logo" id="logo">       
        </div>
        -->
        <ul>
            <li><i class="logo"></i><a href="/"><img src="../logoDunDeal.png" alt="Logo" class="logo"></a></li>
            <li><i class="fa fa-star icon"></i><a href="/tasks/important">Important</a></li>
            <li><i class="fa fa-check icon"></i><a href="/tasks/history">Historique</a></li>
        </ul>
    </nav>
    <div class="container">
        <%- body %>
    </div>
</body>
</html>