<div id="myModal" class="modal" style="display: block;">
    <div class="modal-content">
        <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
        <form id="new-list-form" hx-post="/create-list" hx-target="body" hx-swap="innerHTML">
            <p>Nom de la liste :</p>
            <input type="text" id="list-name" name="list-name" required>
            <button type="submit">Enregistrer</button>
        </form>
    </div>
</div>