/* Style global */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Utiliser une police moderne */
    background: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%); /* Dégradé mauve/rose */
}

/* Conteneur principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 600px;
    max-width: 800px; 
    text-align: center;
    transition: transform 0.2s ease-in-out;
    margin: auto;
}

#search{
    flex: 1;
    width: 80%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #a8a7a7;
    border-radius: 8px;
    margin-bottom: 5%;
}

.container:hover {
    transform: scale(1.02);
}

/* Conteneur du titre */
.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espacement entre le logo et le titre */
    margin-bottom: 20px;
}

.title-container .logo {
    max-width: 100px;
    height: auto;
}

.title-container2 .logo {
    max-width: 100px;
    height: auto;
    text-align: center;
}

/* Titre principal */
.title-container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem; /* Augmenter la taille de la police */
    color: #333;
    margin: 0;
}

/* Formulaire d'ajout de tâche */
form#add-task-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 400px;
    align-items: center;
}

form#add-task-form input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #a8a7a7;
    border-radius: 8px;
}

form#add-task-form button {
    padding: 10px 20px;
    background-color: #ff536c; 
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form#add-task-form button:hover {
    background-color: #db445a; /* Couleur rose plus vive au survol */
}

/* Liste des tâches */
#task-list {
    width: 100%;
    margin-top: 10px;
    text-align: left;
}

.todolist {
    width: 100%;
    border-collapse: collapse;
}

.todolist th, .todolist td {
    padding: 10px;
    text-align: left;
    border-top: 1px solid white;
}

.todolist tr:hover {
    background-color: #f3f3f3;
}

/* Style pour barrer le texte des tâches complétées */
.check-box {
    width: 10%;
    text-align: center;
}

.task-col {
    width: 70%;
}

.completed label {
    text-decoration: line-through;
    color: gray;
}

/* Icônes et actions */
.star-button, .delete-button, .edit-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 5px;
    font-size: 24px;
    color: inherit;
}

.star-button {
    color: gold;
}

.delete-button {
    color: red;
}

.edit-button {
    color: lightblue;
}

/* Boutons de filtrage */
#filters {
    height: 50px;
    width: 100%;
    border: none;
    overflow: hidden;
    justify-content: center;
}

#filters::-moz-focus-inner {
    border: 0;
}

#filters::-moz-selection {
    background-color: #ccc;
}

#filters:focus {
    outline: none;
}

#filters option {
    width: fit-content;
    background-color: #bde0fe;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
    border:none;
    border-radius: 8px;
    color: black;
}

#filters option:hover {
    background-color: #ccc;
}

/* Ligne de séparation */
.separator {
    border: none;
    border-top: 3px solid #ddd; /* Couleur et épaisseur de la ligne */
    margin: 20px 0; /* Espacement au-dessus et en dessous de la ligne */
 
}

/* Bouton Tout supprimer */
#delete-all-button {
    padding: 15px 30px;
    background-color: #ff536c; 
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-top: 10px; 
}

#delete-all-button:hover {
    background-color:   #db445a; 
    transform: scale(1.05); 
}

/* From Uiverse.io by WhiteNervosa */ 
/* Variation of work by @mrhyddenn for Radios */


.check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  
  .check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34, 50, 84, 0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
  }
  
  .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }
  
  .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }
  
  .check:hover:before {
    opacity: 1;
  }
  
  .check:hover svg {
    stroke: var(--accent-color, #a3e583);
  }
  
  #cbx2:checked + .check svg {
    stroke: var(--accent-color, #a3e583);
  }
  
  #cbx2:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  
  #cbx2:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }