body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 600px;
}

form {
    margin-bottom: 20px;
}

.todolist {
    border: 1px solid black;
    margin: auto;
}

.todolist tr {
    vertical-align: middle;
}

.check-box {
    width: 10%;
    text-align: center;
}

.task-col {
    width: 70%;
}

.delete-col {
    width: 20%;
    text-align: right;
}

.delete-col button {
    color: red;
    border: 1px solid red;
    background-color: transparent;
    cursor: pointer;
}

.completed label {
    text-decoration: line-through;
    color: gray;
}

.menu {
    width: 15%;
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(0);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
    width:20px;
    height: auto;
}

.logo {
    margin-bottom: 20px;
    text-align: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.container {
    margin-left: 220px;
    padding: 20px;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
}

.container.menu-closed {
    margin-left: 20px;
}