body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 600px;
}

form {
    margin-bottom: 20px;
}

.todolist {
    border: 1px solid black;
    margin: auto;
}

.todolist tr {
    vertical-align: middle;
}

.check-box {
    width: 10%;
    text-align: center;
}

.task-col {
    width: 70%;
}

.delete-col {
    width: 20%;
    text-align: right;
}

.delete-col button {
    color: red;
    border: 1px solid red;
    background-color: transparent;
    cursor: pointer;
}