body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 600px;
}

form {
    margin-bottom: 20px;
}

.todolist {
    border: 1px solid black;
    margin: auto;
}

.todolist tr {
    vertical-align: middle;
}

.check-box {
    width: 10%;
    text-align: center;
}

.task-col {
    width: 70%;
}

.completed label {
    text-decoration: line-through;
    color: gray;
}

.menu {
    width: 15%;
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(0);
    transition: transform 0.3s ease;
    z-index: 1000;

   
}

.menu ul {
    list-style: none;
    padding: 0;
}



.menu li {
    margin: 20px 10px;
    display: flex;
}

.icon {
    margin-right: 5px;
    width:30px;
    height: auto;
}

.logo {
    margin-bottom: 20px;
    text-align: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.container.menu-closed {
    margin-left: 20px;
}

.star-button, .delete-button, .edit-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 5px;
    font-size: 24px;
    color: inherit;
}

.star-button {
    color: gold;
    margin-right: 20px;
}

.delete-button {
    color: red;
}

.edit-button {
    color: lightblue;
}

/*PARTIE LISTES*/
.add-list-section {
    margin-top: auto;
    width: 100%;
}

#add-list-btn {
    width: 100%;
    background-color: blue;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

#add-list-btn:hover {
    background-color: rgb(67, 67, 205);
}

/*Pour le modal (pop up)*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px; 
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}